<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <%- include('partials/navbar'); %>
    <div class="container">

        <form>
            <input type="text" placeholder="Username"/>
            <input type="password" placeholder="Password" />
            <button type="submit">Login Up</button>
        </form>

        <a class="google-btn" href="/auth/google">Login With Google</a>
    </div>
</body>
</html>